@font-face {
	font-family: OpenSans-Regular;
	src: url(/fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: OpenSans-Bold;
	src: url(/fonts/OpenSans-Bold.ttf);
}
@font-face {
	font-family: OpenSans-LightItalic;
	src: url(/fonts/OpenSans-LightItalic.ttf);
}
@font-face {
	font-family: OpenSans-SemiboldItalic;
	src: url(/fonts/OpenSans-SemiboldItalic.ttf);
}
@font-face {
	font-family: OpenSans-Light;
	src: url(/fonts/OpenSans-Light.ttf);
}
* {
	margin: 0;
	padding: 0;
}

header {
	color: whitesmoke;
	background-color: black;
	padding: 8px;
	font-size: 14px;
	font-family: OpenSans-Light;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	color: white;
	padding: 10px;
}

.header-content {
	padding-left: 12px;
}

.header-content2 {
	font-size: 12px;
}

.header-section1 {
	color: #41ab33;
	font-size: 20px;
	padding-left: 12px;
}

.header-Section2 {
	color: black;
	font-size: 16px;
}

.section-container {
	font-family: OpenSans-Light;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #dadadb;
	color: white;
	padding: 10px;
}

.section-img {
	padding-right: 4px;
	width: 12px;
}

.section2 {
	height: 600px;
	position: relative;
	background-size: cover;
	background-image: url(/Images/hero-tall-002.jpg);
}

.section-container2 {
	position: relative;
	display: inline-block;
	padding: 16px;
}
.improvingResults {
	font-family: OpenSans-Regular;
	color: white;
	position: absolute;
	top: 200px;
	left: 0px;
	color: white;
	font-size: 26px;
	padding: 10px 20px;
}
.ourGoals {
	display: flex;
	color: white;
	position: absolute;
	top: 260px;
	left: 0px;
	color: white;
	font-size: 16px;
	padding: 10px 20px;
}

.imageWrapper {
	display: flex;
	align-items: center;
}

.loadingImg {
	width: 40px;
	height: 40px;
}

.textWrapper {
	flex: 1;
}

.vertical-line {
	width: 2px;
	height: 90px;
	background-color: grey;
	margin: 0 10px;
}

#learnMore {
	font-weight: bold;
	color: #41ab33;
}

.container3 {
	top: 390px;
	left: 20px;
	width: 420px;
	height: 150px;
	position: absolute;
	display: flex;
	justify-content: space-between;
}

.box1 {
	width: 200px;
	height: 180px;
	background-color: #125834;
}
.box2 {
	width: 200px;
	height: 180px;
	background-color: #348b65;
}

.boxxedText {
	font-family: OpenSans-Regular;
	color: white;
	padding: 18px;
}

.spnned {
	color: gray;
}

.textWrapper2 {
	margin-top: 8px;
}

.signInContainer {
	color: white;
}

.signInContainer {
	position: absolute;
	top: 0;
	right: 30px;
	width: 350px;
	height: 100%;
	background-color: rgba(22, 22, 22, 0.6);
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.textContent {
	text-align: left;
	margin-bottom: 24px;
	width: 100%;
}

.textContent h2 {
	font-size: 24px;
}

.textContent h5 {
	margin-top: 12px;
	font-size: 14px;
}
.signInContainer p {
	display: flex;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	text-align: center;
	margin: 0;
}

.signInForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.inputContainer {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
	color: white;
}

input[type="text"],
input[type="password"] {
	width: 250px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.signInButton {
	width: 270px;
	padding: 14px;
	background-color: #41ab33;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.userTypeButtons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.userTypeButton {
	width: 270px;
	padding: 14px;
	margin-bottom: 10px;
	background-color: #125834;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.buttonImg {
	margin-right: 4px;
	width: 25px;
	height: 25px;
}
